body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chat-container {
    width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

#chat-messages {
    padding: 180px;
    max-height: 800px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.message.bot {
    text-align: left;
}

.message.user {
    text-align: right;
}

#answerInput {
    width: calc(100% - 40px);
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-top: 0.5px solid #ddd;
    outline: none;
}

#sendButton {
    width: 50px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: #459dd8; 
    outline: none;
}

#chatForm {
    display: flex;
    align-items: center;
}

#answerInput {
    flex: 1;
}

#sendButton {
    margin-left: 10px; /* Adjust the margin as needed */
}